<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="peliculas" href="/peliculas/peliculas">
      <ion-icon aria-hidden="true" name="film-outline"></ion-icon>
      <ion-label>Peliculas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="actores" href="/actores/actores">
      <ion-icon aria-hidden="true" name="star-outline"></ion-icon>
      <ion-label>Actores</ion-label>
    </ion-tab-button>    

    <ion-tab-button tab="genero" href="/genero/genero">
      <ion-icon aria-hidden="true" name="eye-outline"></ion-icon>
      <ion-label>Genero</ion-label>
    </ion-tab-button> 
    
    <ion-tab-button tab="usuario" href="/usuario/usuario">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
